section.content-form {
    width: 100%; height: auto;
    margin-top: 50px;
    padding: 0 100px;
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

@media (max-width: 1100px) {
    section.content-form {
        margin-top: 20px;
        padding: 50px;
    }
}

@media (max-width: 1100px) {
    section.content-form {
        padding: 30px;
    }
}

section.content-form form {
    width: 65%;
    background-color: var(--sexta);
    padding: 30px;
    border: 1px solid var(--quinta);
    border-top: 20px solid var(--quinta);
    box-shadow: 0 5px 1em var(--escura);
    border-radius: 5px 5px 0 0;
    margin-bottom: 100px;
}

@media (max-width: 940px) {
    section.content-form form {
        width: 100%;
    }
}

section.content-form form h1 {
    margin-bottom: 40px;
    font-size: 30pt; text-align: center;
    font-weight: 500;
    font-family: 'Bebas Neue', cursive;
}

@media (max-width: 620px) {
    section.content-form form h1 {
        font-size: 25pt;
    }
}

#aviso,
#error-content,
#sucsess-content {
    width: 90%; height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    backdrop-filter: blur(5px);
    display: flex;
    color: #fff;
}

#error-content,
#sucsess-content {
    max-width: 600px;
}

#aviso {
    background-color: rgba(255, 255, 0, 0.826);
    color: black;
}

#error-content {
    background-color: rgb(255, 27, 27, 0.826);
}

#sucsess-content {
    background-color: rgba(0, 215, 0, 0.826);
}

#error,
#sucsess,
#aviso-width {
    width: 100%; height: 60px;
    display: none;
    position: fixed;
    top: 70px; left: 0;
    z-index: 101;
}

#error,
#sucsess {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: .3s slide-from-top forwards;
}


@media (max-width: 940px) {
    #aviso-width {
        display: flex;
        align-items: center;
        justify-content: center;
        animation: .3s slide-from-top forwards;
    }
}

#sucsess[reverse] {
    animation: .3s slide-to-top forwards;
}

#error[reverse] {
    animation: .3s slide-to-top forwards;
}

#aviso-width[reverse] {
    animation: .3s slide-to-top forwards;
}

@keyframes slide-from-top {
    0%{top: -50px;}
    100%{top: 70px;}
}

@keyframes slide-to-top {
    0%{top: 70px;}
    100%{top: -50px;}
}

#aviso-width .close,
#error-content .close,
#sucsess-content .close {
    width: 40px; height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#aviso-width svg,
#error-content svg,
#sucsess-content svg {
    width: 30px; height: 30px;
    fill: #fff;
}

.content-form form .line {
    display: flex;
    position: relative;
    margin-bottom: 25px;
}

@media (max-width: 520px) {
    #sucsess-content,
    #error-content,
    #aviso {
        width: 95%;
    }
    #sucsess,
    #error,
    #aviso-width {
        font-size: 11pt;
    }
    #sucsess-content .close,
    #error-content .close,
    #aviso-width .close {
        width: 30px; height: 30px;
    }
    #sucsess-content svg,
    #error-content svg,
    #aviso-width svg {
        width: 25px; height: 25px;
    }
}

/* label */
.content-form form .line label {
    position: absolute;
    left: 10px;
    top: 3px;
    transition: .2s;
    cursor: text;
}

.content-form form .with-textarea label {
    top: 10px;
}

.content-form form .image label,
.content-form form .image input {
    cursor: pointer;
}

.content-form form .image label {
    top: -17px;
    font-size: 10pt;
    left: 8px;
}

/* input e textarea */
.content-form form .line input {
    height: 30px;
    padding: 0 10px;
    width: 350px;
    outline: none;
    transition: .2s;
    border-radius: 5px;
    border: 2px solid var(--principal);
}

/* .content-form form .line input[type=text] {} */
.content-form form input[type=text]:not(:placeholder-shown),
.content-form form input[type=text]:focus {
    border-color: var(--quinta);
    border-radius: 15px;
}

.content-form form input[type=text]:not(:placeholder-shown) ~ label,
.content-form form input[type=text]:focus ~ label {
    top: -17px;
    font-size: 10pt;
    left: 8px;
}

.content-form form .line textarea {
    padding: 10px;
    width: 350px;
    resize: vertical;
    outline: none;
    border: 2px solid var(--principal);
    border-radius: 0px;
}

.content-form form .line textarea:not(:placeholder-shown),
.content-form form .line textarea:focus {
    border-color: var(--quinta);
    transition: .2s;
    border-radius: 5px;
}

.content-form form .line textarea:not(:placeholder-shown) ~ label,
.content-form form .line textarea:focus ~ label {
    top: -18px;
    font-size: 10pt;
    left: 8px;
}

.content-form form .text textarea {
    width: 100%;
    min-height: 400px;
}

.content-form form button[type=submit] {
    width: 100%; height: 30px;
    cursor: pointer;
    background-color: var(--quinta);
    border-radius: 20px;
    transition: .2s;
    border: none;
    font-size: 14pt;
    color: #fff;
}

.content-form form button[type=submit]:hover {
    background-color: var(--quinta-hover);
    color: rgb(246, 246, 246);
    transform: scale(0.99); 
}




/*  SIDEBAR RIGHT  */

.content-sidebar {
    width: auto; 
    position: relative;
}

@media (max-width: 940px) {
    .content-sidebar {
        display: none;
    }
}

.sidebar-right {
    width: 300px; height: 500px;
    position: sticky;
    z-index: 100;
    top: 100px;
    background-color: var(--quinta);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 100px;
}

.sidebar-right h2 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    color: #fff;
}

.sidebar-right .line {
    margin-bottom: 10px;
}

.sidebar-right p {
    font-weight: bold;
    text-align: center;
}

.sidebar-right pre {
    text-align: center;
}

.sidebar-right button {
    width: 100%; height: 30px;
    background-color: #fff;
    cursor: pointer; border: none;
    font-size: 12pt;
    transition: .3s;
}

.sidebar-right button:hover {
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    transform: scale(0.99); 
}


section.preview-content {
    width: 100%; height: auto;
    padding: 0px 100px;
    display: none;
}
.preview {
    height: auto; width: 100%;
    background-color: var(--sexta);
    border-radius: 5px 5px 0 0;
    padding: 70px;
    margin-bottom: 20px;
    border: 1px solid var(--principal);
    border-top: 20px solid var(--principal);
    box-shadow: 0 5px 1em var(--escura);
    text-align: justify;
}

.preview.text blockquote {
    border-left: 5px solid var(--principal);
}

