@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


:root {
    /*modo claro*/
    --escura-1: #08153A;
    --escura-2: #08153A;

    --principal: #000C66;
    --segunda: #05445E;
    --terceira: #189AB4;
    --quarta: #7EC8E3;

    --quinta: #C08D2C; /*pode ser essa tbm: #FF3F00*/
    --quinta-hover: #A2721F;
    --sexta: #f8f8f8;
    --escura: #CBCBCB;

    /*cores menu*/
    --cor-menu-1: #C08D2C;
    --cor-menu-2: #A2721F;


    /*modo escuro*/


    /* --principal: #7E3680;
    --segunda: #A654DF;
    --terceira: #CB8AFF;
    --quarta: #ca8affa9;
    --quinta: #EFE1E8;
    --sexta: #f8f8f8ce;
    --escura: #CBCBCB; */
}

* {
    padding: 0%; margin: 0%; box-sizing: border-box;
    font-family: 'Poppins', sans-serif; font-weight: 400;
}

body {
    padding-top: 50px;
}



/*//////    MENU    //////*/

.menu_hamburger {
    height: 25px; left: 20px;
    top: 13px; cursor: pointer;
    position: fixed; z-index: 10;
}

.menu_hamburger .line
{
    width: 30px; height: 4px;
    background-color: var(--cor-menu-1);
    margin: 3px; transition: .3s;
}

/* on open menu */
.menu_hamburger[open-menu] > .line:first-child {
    background-color: var(--cor-menu-2);
    animation: rotate_right .5s forwards;
}
@keyframes rotate_right {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(45deg); margin-top: 10px;}
}
.menu_hamburger[open-menu] > .line:last-child {
    background-color: var(--cor-menu-2);
    animation: rotate_left .5s forwards;
}
@keyframes rotate_left {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-45deg); margin-top: -14px;}
}
.menu_hamburger[open-menu] > .line:nth-of-type(2) {opacity: 0;}

/* on close menu */
.menu_hamburger[close-menu] > .line:first-child {
    background-color: var(--cor-menu-1);
    animation: rotate_right_return .5s forwards;
}
@keyframes rotate_right_return {
    0% {transform: rotate(45deg); margin-top: 13px;}
    100% {transform: rotate(0deg);}
}
.menu_hamburger[close-menu] > .line:last-child {
    background-color: var(--cor-menu-1);
    animation: rotate_left_return .5s forwards;
}
@keyframes rotate_left_return {
    0% {transform: rotate(-45deg); margin-top: -14px;}
    100% {transform: rotate(0deg);}
}
.menu_hamburger[close-menu] > .line:nth-of-type(2) {opacity: 1;}




/*//////    ASIDE    //////*/

aside {
    height: 100%; width: 300px;
    transition: .3s; position: fixed;
    top: 0%; left: -300px; z-index: 102;
    background-color: #e2e2e2;
    padding-top: 70px; padding-right: 0;
}

aside ul {list-style: none;}
aside ul li {
    height: 50px; margin: 2px;
    transition: .2s;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
aside ul li:hover {
    background-color: #d5d5d5; 
    color: var(--rosa-claro);
}



/*//////    TOPO    //////*/

.topo-fixed {
    position: fixed;
    top: 0; 
    width: 100%; height: 50px;
    background-color: var(--principal);
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}

@media (max-width: 800px) {
    .topo-fixed {
        padding: 0 60px;
        
    }
}

.topo-fixed .content-buttons {display: flex;}

.topo-fixed .logo,
.topo-fixed .content-buttons .button {
    width: 80px; height: 30px;
    border-radius: 5px;
    margin-left: 25px;
}

.topo-fixed .logo {
    width: 190px;
    font-size: 16pt;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--sexta);
}

.topo-fixed .logo p {
    font-weight: 600;
}

.topo-fixed .logo .material-symbols-outlined {
    font-size: 25pt;
    color: var(--quinta);
    margin-right: 10px;
    margin-top: 0px;
}

.topo-fixed .content-buttons .search {
    width: auto;
    background-color: var(--quinta);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topo-fixed .content-buttons .search input {
    background-color: #f8f8f8;
    border-radius: 50px 0 0 50px;
    border: none;
    width: 90px;
    height: 30px;
    transition: .3s;
    outline: none;
    padding: 0 10px;
}

.topo-fixed .content-buttons .search input:not(:placeholder-shown),
.topo-fixed .content-buttons .search input:focus {
    width: 250px;
}

.topo-fixed .content-buttons .search button {
    width: 40px; height: 30px;
    border-radius: 0 50px 50px 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-color: var(--quinta);
    transition: .3s;
    cursor: pointer;
}

.topo-fixed .content-buttons .search button:hover {
    background-color: var(--quinta-hover);
}

.topo-fixed .content-buttons .search button svg {
    width: 20px; height: 20px;
    fill: #fff;
    transition: .3s;
}

.topo-fixed .content-buttons .search button:hover > svg {
    fill: #e1e1e1;
} 

@media (max-width: 620px) {
    .topo-fixed {
        padding: 0 30px;
    }
    .topo-fixed .logo {
        margin-left: 50px;
    }
    .topo-fixed .content-buttons .button {display: none;}
    .topo-fixed .content-buttons .search {display: none;}
    .topo-fixed {justify-content: center;}
    .topo-fixed .logo {margin: 0;}
}



/*//////    FOOTER    //////*/
footer {
    width: 100%; height: auto;
    background-color: var(--escura-2);
    padding: 10px 80px;
    padding-bottom: 40px;
}

@media (max-width: 620px) {
    footer {
        padding: 20px;
        padding-bottom: 30px;
    }
}

footer .logo_footer {
    width: 100%; height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

footer .logo_footer .redes_sociais {
    width: 200px; height: auto;
    display: flex;
    align-items: center;
    justify-content: end;   
}

footer .logo_footer .redes_sociais a {
    margin: 5px;
    border-radius: 30px;
}

footer .logo_footer .redes_sociais .icon {
    width: 35px; height: 35px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

footer .logo_footer .redes_sociais .icon svg {
    width: 25px; height: 25px;
    fill: var(--quinta);
    transition: .3s;
}

footer .logo_footer .redes_sociais .icon:hover > svg {
    transform: scale(1.1);
    fill: var(--quinta-hover);
}


footer .logo_footer .logo {
    width: 190px;
    font-size: 16pt;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--sexta);
}

footer .logo_footer .logo p {
    font-weight: 600;
}

footer .logo_footer .logo .material-symbols-outlined {
    font-size: 25pt;
    color: var(--quinta);
    margin-right: 10px;
    margin-top: 0px;
}

footer .footer_content {
    width: 100%; height: auto;
    padding: 30px 0;
    border-bottom: 2px solid var(--quinta);
}

footer #vetor_atribuicao {
    margin: 20px 0;
}

footer #vetor_atribuicao a {
    color: #adadad;
    font-weight: 400;
    font-size: 11pt;
}

footer .footer_content ul {
    width: 250px; height: auto;
    list-style: none;
}

footer ul h4 {
    color: #f2f2f2;
    font-weight: 500;
}

footer ul li {
    height: 30px;
    transition: .3s;
    font-weight: 300;
}

footer ul li:hover {
    background-color: rgba(0, 0, 0, 0.049);
    color: var(--quarta);
}

footer ul a {
    text-decoration: none;
    color: #cbcbcb;
}
