/*//////  BLOCK  //////*/

.block {
    height: 100%; width: 100%;
    padding: 50px 100px;
    padding-top: 50px;
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

@media (max-width: 770px) {
    .block {
        padding: 30px 60px;
    }
}

/*  TEXT-CONTENT  */

.text-content {
    height: auto; width: 100%;
    background-color: var(--sexta);
    border-radius: 5px;
    padding: 70px 0;
    margin-bottom: 100px;
    float: right;
    position: relative;
    border: 1px solid var(--quinta);
    border-top: 20px solid var(--quinta);
    box-shadow: 0 5px 1em var(--escura);
}

.text-content .text-title {
    font-size: 30pt; text-align: center;
    font-weight: 500;
    font-family: 'Bebas Neue', cursive;
    z-index: 100;
}

.text-content .verse-and-reference {
    width: 470px; height: auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.text-content .verse-and-reference .verse p{
    font-style: italic;
    font-weight: 300;
    text-align: center;
    font-size: 17px;
}

.text-content .verse-and-reference .reference {
    text-align: center;
    font-size: 19px;
}

.text-content .text {
    text-align: justify;
    margin: 0 70px;
}

.text-content .text h1
{
    font-size: 18pt;
    font-weight: 600;
}

.text-content .text h2
{
    font-size: 16pt;
    font-weight: 600;
}

.text-content .text strong 
{
    font-weight: bold;
}

.text-content .text em
{
    font-style: italic;
    font-weight: 500;
    font-size: 12pt;
}

.text-content .text strong em
{
    font-weight: bold;
    font-style: italic;
}


/*  INFO-BUTTONS  */

.text-content .info-buttons {
    width: 100%; height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: -110px;
    padding-top: 10px;
}

.text-content .info-buttons .buttons {
    display: flex; flex-direction: row;
    width: 280px; justify-content: end;
}

.text-content .info-buttons .buttons .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 0 15px;
    transition: .2s;
    cursor: pointer;
    border: 1px solid transparent
}

.text-content .info-buttons .buttons .button[bye] {
    animation: .1s piscar-butao forwards;
}

.text-content .info-buttons .buttons .button[hi] {
    animation: .1s piscar-butao forwards;
    animation-direction: reverse;
}

.text-content .info-buttons .buttons .button.share {
    margin-left: 15px;
}

.text-content .info-buttons .buttons .button:hover {
    background-color: var(--sexta);
    border: 1px solid var(--quinta);
}


@keyframes piscar-butao {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.text-content .info-buttons .button svg {
    width: 20px; height: 20px;
    margin-left: 5px;
}
