header {
    /* background-color: var(--principal); */
    width: 100%; height: 400px;
}

section.devocionais {
    width: 90%; height: auto;
    margin: auto;
    padding: 30px;
    border-top: 1px solid var(--principal);
}

section.devocionais h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30pt; margin-bottom: 10px;
    /* margin-left: 50px; */
}

section.devocionais .content {
    width: 100%; height: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    /* 1fr 1fr 1fr 1fr; */
     
}

@media (max-width: 1000px) {
    section.devocionais .content {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 870px) {
    section.devocionais {
        width: 95%;
    }
}

section.devocionais .devocional-block {
    width: 100%; height: 200px;
    border-radius: 5px;
    border: 1px solid var(--principal);
    /* margin: 5px; */
    background: url("../../static/images/c.jpg") no-repeat;
    object-fit: cover;
    background-position: center -30px;
    background-size: 300px;
    display: flex;
    flex-direction: column;
}

section.devocionais .devocional-block h2 {
    font-family: 'Bebas Neue', cursive;
    width: 100%; height: 100px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(
        180deg,
        rgba(255,255,255,1) 0%,
        rgba(255, 255, 255, 0.787) 30%,
        rgba(255, 255, 255, 0.522) 50%,
        rgba(230,230,230,0) 100%
    );
    text-align: center;
    padding: 10px;
    font-size: 20pt;
}

section.devocionais .devocional-block .link {
    border-radius: 0 0 5px 5px;
    width: 100%; height: 60px;
    background-color: var(--sexta);
    margin-top: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--principal);
    
}

section.devocionais .devocional-block a {
    text-decoration: none;
    width: 100%;
}

section.devocionais .devocional-block a button {
    width: 100%; height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center; justify-content: center;
    background-color: transparent;
    border: 2px solid var(--quinta);
    border-radius: 30px;
    transition: .2s;
}

section.devocionais .devocional-block a button:hover {
    background-color: var(--quinta);
    color: #fff;
    fill: #fff;
}

section.devocionais .devocional-block a button p {
    text-align: center; font-size: 12pt;
    margin-top: -1px; 
    font-weight: 500;
}

section.devocionais .devocional-block a button svg {
    width: 17px; height: 17px;
    margin-top: 0px; 

}