{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tilte %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <script src="{% static 'js/layout.js' %}"></script>

    {% block head %}
    {% endblock %}

</head>
<body>
    <nav class="topo-fixed">
        <div class="menu_hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="logo"></div>
        <div class="content-buttons">
            <div class="button"></div>
            <div class="button"></div>
            <div class="button register-login-user"></div>
        </div>
    </nav>

    <aside>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/adicionar"><li>Adicionar</li></a>
            <a href="/"><li>Menu 3</li></a>
            <a href="/"><li>Menu 4</li></a>
            <a href="/"><li>Menu 5</li></a>
            <a href="/"><li>Menu 6</li></a>
        </ul>
    </aside>

    {% block body %}
    {% endblock %}

    <footer></footer>
</body>
</html>